#icon1 {
    font-size: 30px;
    transform: translate(460px, -35px);
    cursor: pointer;
    color: #009174;
}


#icon2 {
    font-size: 30px;
    transform: translate(460px, -35px);
    cursor: pointer;
    color: #009174;
}